services:
  - type: web
    name: mamacare-backend
    env: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 4000
      - key: MONGODB_URI
        sync: false
      - key: MONGODB_DB
        value: mamacare
      - key: JWT_SECRET
        sync: false

